* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #eff7f2;
    font-family: "Lato", sans-serif;
}

.user-card {
    width: 300px;
    height: 400px;
    box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.2s ease-in;
    cursor: pointer;
}

.user-card:hover {
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4);
}

.user-card .user-cover {
    height: 150px;
    width: 500px;
    position: relative;
    background-image: url(./pic2.png);
    background-position: center;
    background-size: cover;
}

.user-card .user-cover .user-avatar {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -50px;
    border: solid 2px #fff;
}

.user-card .user-details {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
    width: 80%;
}

.user-card .user-details .user-name {
    margin-bottom: 0%;
    font-size: 30px;
    font-weight: 600;
}

.user-card .user-details .user-id {
    margin-top: -3px;
    margin-bottom: 8px;
    color: #666;
    font-size: 14px;
}

.user-card .user-details .user-email {
    font-size: 13px;
    color: #0f5fc0;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

.user-card .user-details .user-text {
    margin-top: 5px;
    font-size: 15px;
    color: #666;
}

.user-card .contact-user {
    margin-bottom: 15px;
    height: 35px;
    width: 80%;
    border: none;
    color: #fff;
    font-weight: bold;
    background: #7e2eff;
    letter-spacing: 0.5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: auto;
    padding-top: 8.5px;
}

.user-card .contact-user:hover {
    background: #6000fc;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.user-card.skeleton .user-cover {
    background: #e2e2e2;
}

.user-card.skeleton .user-cover .user-avatar {
    display: none;
}

.user-card.skeleton .user-cover::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -35px;
    border: 2px solid #fff;
    z-index: 10;
    background: #e2e2e2;
}

.user-card.skeleton .hide-text {
    background: #e2e2e2;
    color: transparent;
    position: relative;
    overflow: hidden;
}

.user-acrd.skeleton .hide-text::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 0;
    height: 100%;
    width: 50px;
    background: linear-gradient(to right, #e2e2e2 25%, #d5d5d5 50%, #e2e2e2 100%);
    animation-name: gradient-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    filter: blur(5px);
}

@keyframes gradient-animation {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}